@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

/* ---------------- Header ---------------- */

header {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    z-index: 1;
}

#navbar {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); */
}

#nav_logo {
    font-size: 28px;
    color: #800080;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.nav-item.active a {
    color: #800080;
    font-weight: 400;
    border-bottom: 3px solid #000000;
}

.nav-item a:hover {
    color: #800080 !important;
    transition: all 0.25s ease;
    border-bottom: 3px solid #000000;
    font-size: 900;
}

#nav_logo:hover {
    color: #000000;
    transition: all 0.25s ease;
    border-bottom: 3px solid #000000;
}

#nav_logo {
    cursor: pointer;
}

/* ---------------- Mobile ---------------- */

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 992px) {
    #nav_list {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}

/* ---------------- Home ---------------- */

#home {
    padding: 0px 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    min-height: calc(100vh - 90px);
}

#home2 {
    display: flex;
    justify-content: center;
}

#info-home {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    margin-top: 5%;
}

#info-home .title-home {
    font-size: 2rem;
}

#info-home .description-home {
    font-size: 1.15rem;
}

#social-home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0px 0px 20px;
    width: 100%;
}

#social-home i {
    padding: 8px;
}

#social-home a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 200px;
    height: 50px;
    color: black;
    font-size: 1.25rem;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
}

#social-home a:hover {
    color: #ffffff !important;
    transition: all 0.25s ease;
    font-weight: 900;
    background-color: #000000;
    box-shadow: none;
}

#photo-home img {
    display: flex;
    height: 400px;
    width: auto;
    position: relative;
    border-radius: 5%;
    box-shadow: 0px 0px 6px 2px rgb(0, 0, 0, 0.1);
}

/* ---------------- studies ---------------- */

.page-title {
    padding: 50px;
    text-align: center;
    width: 100%;
}

.content {
    padding: 0px 148px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .item img {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.works-list .item {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
}

.works-list .item img {
    width: auto;
    height: 300px;
    border-radius: 2%;
}

.works-list a {
    color: #3d2800;
}

.works-list .item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* cores dos icones */

#star{
    color: rgb(255, 187, 0);
}

#award, #globe, #sharesquare, #linkedin {
    color: rgb(0, 0, 155);
}

#youtube {
    color: red;
}

/* ---------------- Footer ---------------- */

#footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.6rem;
    gap: 40px;
}

#footer #social {
    color: black;
}

#footer p {
    text-align: center;
    font-size: 1.1rem;
}

#footer #social:hover {
    color: #800080;
    transition: all 0.25s ease;
    font-weight: 900;
    border-bottom: 3px solid #000000;
}


/* ---------------- Responsivo ---------------- */

@media screen and (max-width: 1400px) {

    #home {
        padding: 0px 70px;
    }

    #social-home {
        padding: 0px 0px 20px;
    }

    .content {
        padding: 0px 70px 20px;
    }

    .page-title {
        padding: 30px 120px 20px;
    }
}

@media screen and (max-width: 1200px) {
    
    #home {
        padding: 0px 35px;
    }

    #photo-home img {
        height: 350px;
        width: auto;
    }

    #social-home {
        padding: 0px 20px 20px;
        gap: 15px;
    }

    .content {
        padding: 0px 25px 5px;
    }

    .page-title {
        padding: 15px 60px 15px;
    }
}



@media screen and (max-width: 992px){

    #home {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    #photo-home {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    #photo-home img {
        margin: 0px;
        height: 400px;
        width: auto;
    }

    .content {
        padding: 0px 10px 2px;
    }

    .page-title {
        padding: 10px 20px 10px;
    }

    #home2 {
        display: flex;
        justify-content: center;
    }

    #social-home {
        padding: 20px 0px 20px;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    #social-home a {
        width: 210px;
        height: 40px;
        font-size: 1.4rem;
    }

    /* Estudos */

    .works-list{
        width: 100%;
    }
 
    .works-list .item img {
        width: 100%;
        height: auto;
    }

    .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .details-item {
        text-align: center;
    }
}